@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Bree+Serif');


body{
  position: absolute;
  text-align: center;
  font-family: 'Bree Serif';
  width: 100%;
  height: 100%;
  background-color:#FDF5E6;

}


#mostraPalavra{
  font-family: 'Roboto Slab';
  font-size: 50px;
  margin-bottom: auto;
}

#mostraFrase{
  font-family: 'Roboto Slab';
  font-size: 50px;
  margin-top: 200px;
}

h1 {
  font-family: 'Bree Serif';
  font-size: 50px;
}


.palavraOculta{
  display: none;
}
.mostraPalavra{
  margin: 0px;
  display: block;
}

.menu{

  margin-top:300px;


}

.palpite{
}

.bordas-arredondadas{
  border-radius: 5px;
}

#menuTopFive:before, #menuTopFive:after{
  position: absolute;
}

#selectDificuldade{
  width: 105px;
}

#btJogar{
  width: 230px;
  height: 50px;
  color:white;
  background:#CD5C5C;
}

#pontuacao{
  position:absolute;
  margin:0px;
}
